
  <h3 class="task-card__title">User Story</h3>
  <div class="task-card__info">
    <h4 class="task-card__subtitle">Kochwelt Page & Recipe Recommender</h4>
    <p class="task-card__description">
      Build start page with recipe recommendation.
    </p>
  </div>

  <div class="task-card__subtasks">
    <div class="task-card__subtask-progress">
      <div class="task-card__subtask-progress-inner"></div>
    </div>
    <span class="task-card__subtask-count">1/2 Subtasks</span>
  </div>

  <div class="task-card__team">
    <div class="task-card__team-members">
      <p class="task-card__team-member">AM</p>
      <p class="task-card__team-member">EM</p>
      <p class="task-card__team-member">MB</p>
    </div>
    <img class="task-card__icon" src="img/medium.svg" alt="an equal sign" />
  </div>

