:host {
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px #00000014;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 252px;
    max-width: 252px;
}

.task-card__title {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #ff7a00;
  padding: 4px 16px;
  border-radius: 8px;
  width: fit-content;
}

.task-card__subtitle {
  color: #4589ff;
  font-weight: 700;
  font-size: 1rem;
}

.task-card__description {
  color: #a8a8a8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* Enables the multi-line truncation */
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical; /* Specifies the box layout is vertical */
  white-space: normal; /* Allows the text to wrap normally */
}

.task-card__subtasks{
    display: flex;
    align-items: center;
    gap:11px;
}

.task-card__subtask-progress {
  height: 10px; /* Set the height of the progress bar */
  width: 128px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.task-card__subtask-progress-inner {
  height: 100%; 
  background-color: #4589ff; 
  width: 50%; 
  border-radius: 16px;
}

.task-card__subtask-count{
    font-size: 0.8125rem;
}

.task-card__team{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card__team-members{
    display: flex;
    
    > * + *{
        margin-left: -10px;
    }
}

.task-card__team-member{
    font-size: 0.75rem;
    background-color: #FF7A00;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 8px;
    color: white;
}