<div class="side-navigation__container">
  <nav class="side-navigation-links">
    <div class="side-nav__box">
      <img
        class="side-nav__img"
        src="img/summary.svg"
        alt="Icon of a diagramm"
      />
      <span class="side-nav__title">Summary</span>
    </div>
    <div class="side-nav__box">
      <img class="side-nav__img" src="img/board.svg" alt="Icon of a board" />
      <span class="side-nav__title">Board</span>
    </div>
    <div class="side-nav__box">
      <img
        class="side-nav__img"
        src="img/addtask.svg"
        alt="Icon of a pen and paper"
      />
      <span class="side-nav__title">Add Task</span>
    </div>
    <div class="side-nav__box">
      <img
        class="side-nav__img"
        src="img/contacts.svg"
        alt="Icon of a silouethe"
      />
      <span class="side-nav__title">Contacts</span>
    </div>
  </nav>
  <div class="side-nav__legal-links-container">
    <a class="side-nav__legal-link" href="#">Privacy Policy</a>
    <a class="side-nav__legal-link" href="#">Legal notice</a>
  </div>
</div>
