section {
  padding: 64px 16px;
}

.board__search-container {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  padding: 8px 16px;

  &:hover{
    border: 1px solid #4589FF;
  }

  &:focus-within{
    border: 1px solid #005DFF;
  }
}

.board__search-input {
  flex: 1;
  outline: none;
  border: none;

  ::placeholder {
    color: #d1d1d1;
  }

}

.board__search-divider {
  width: 1px;
  height: 31px;
  background-color: #a8a8a8;
}

.board__search-icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 12px;

  &:hover {
    background-color: #e3eeff;
  }
  &:hover img {
    filter: invert(34%) sepia(75%) saturate(1000%) hue-rotate(185deg)
      brightness(85%);
  }

  &:active {
    background-color: transparent;
  }

  &:active img {
    filter: invert(43%) sepia(63%) saturate(800%) hue-rotate(180deg)
      brightness(95%);
  }
}

.board__search-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.btn__primary {
  display: none;
}

.board__btn-icon {
  margin-left: 10px;
}

.board__tasks-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.board__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.board__title {
  color: #42526e;
  font-size: 1.4375rem;
}

.board__title-icon__wrapper {
  border: 2px solid #4589ff;
  border-radius: 10px;
  padding: 7.5px;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:hover {
    border: 2px solid #005dff;
  }

  &:hover img {
    filter: brightness(80%) saturate(120%) hue-rotate(-10deg);
  }

  &:active {
    border: 2px solid #a8a8a8;
  }

  &:active img {
    filter: grayscale(100%) brightness(75%);
  }
}

.board__title-icon {
  width: 15px;
  height: 15px;
  display: block;
  user-select: none;
  transition: all 0.1s ease-out;
}

//  xs
@media (min-width: 475px) {
  .board__topbar {
    display: flex;
    gap: 32px;
  }
  .board__search-container {
    max-width: 312px;
  }
  .btn__primary {
    display: inline-block;
  }
}

//  sm
@media (min-width: 640px) {
}

//  md
//  @media (min-width: 768px) {}

//  lg
@media (min-width: 1024px) {
  section {
    padding: 73.5px 65px;
  }
  .board_tasks-container {
    margin-top: 49.5px;
  }
  .board__title-icon__wrapper {
    border-radius: 8px;
    padding: 8px;
  }

  .board__title-icon {
    width: 8px;
    height: 8px;
  }
}

//  xl
//  @media (min-width: 1280px) {}

//  2xl
//  @media (min-width: 1536px) {}
