<section>
  <div class="summary__grid-container">
    <div class="grid-box item-1">
      <div class="summary__urgent-item1">
        <div class="summary__urgent-item1__description">
          <img src="img/urgenttask.svg" alt="a clock" />
          <span>1</span>
        </div>
        <div class="summary__urgent-item1__title">Tasks Urgent</div>
      </div>
      <div class="summary__urgent-divider"></div>
      <div class="summary__urgent-item2">
        <h2 class="summary__urgent-item2__title">October 16, 2022</h2>
        <h3 class="summary__urgent-item2__subtitle">Upcoming Deadline</h3>
      </div>
    </div>
    <div class="grid-box item-2">
      <img src="img/todotask.svg" alt="a piece of paper and a pen" />
      <span class="summary__todo_description">1</span>
      <span class="summary__todo_title">Tasks To-do</span>
    </div>
    <div class="grid-box grid-box-white item-3">
      <div class="grid-box-white__item1">
        <img src="/img/onboardtask.svg" alt="folders on a shelf" />
        <span class="grid-box-white__item1__description">2</span>
      </div>
      <h3 class="grid-box-white__title">Tasks on Board</h3>
    </div>
    <div class="grid-box grid-box-white item-4">
      <div class="grid-box-white__item1">
        <img src="/img/inprogresstask.svg" alt="ascending diagramm" />
        <span class="grid-box-white__item1__description">2</span>
      </div>
      <h3 class="grid-box-white__title">Tasks in Progress</h3>
    </div>
    <div class="grid-box grid-box-white item-5">
      <div class="grid-box-white__item1">
        <img src="/img/feedbacktask.svg" alt="a pen and a chatbubble" />
        <span class="grid-box-white__item1__description">2</span>
      </div>
      <h3 class="grid-box-white__title">Awaiting feedback</h3>
    </div>
    <div class="grid-box grid-box-white item-6">
      <div class="grid-box-white__item1">
        <img src="/img/donetask.svg" alt="a thumbs up and a tick" />
        <span class="grid-box-white__item1__description">2</span>
      </div>
      <h3 class="grid-box-white__title">Tasks Done</h3>
    </div>
  </div>
</section>
