form {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-inline: 16px;
  height: 1000px;
}

input:focus,
textarea:focus {
  outline: none;
}

.form__input-container {
  display: flex;
  flex-direction: column;
}

.form__title-input {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 33.6px;
  padding: 7px 16px;
  border: unset;
  border-bottom: 1px solid #d1d1d1;

  &:hover {
    border-bottom: 1px solid #4589ff;
  }

  &:focus {
    border-bottom: 1px solid #005dff;
  }
  &::placeholder {
    font-weight: 400;
    color: #d1d1d1;
  }
}

.form__label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;

  span {
    font-weight: 400;
  }
}

.form__description-input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 18px 16px;
  width: 100%;
  border: 1px solid #d1d1d1;
  font-family: inherit;

  &:hover {
    border: 1px solid #005dff;
  }

  &:focus {
    border: 1px solid #005dff;
  }

  &::placeholder {
    font-weight: 400;
    color: #d1d1d1;
  }
}

.form__date-input {
  font-family: inherit;
  color: #d1d1d1;
  padding: 12px 16px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;

  &::-webkit-calendar-picker-indicator {
    filter: invert(39%) sepia(67%) saturate(4835%) hue-rotate(192deg)
      brightness(92%) contrast(93%);
    scale: 1.2;
  }

  &:hover {
    border-bottom: 1px solid #005dff;
  }

  &:focus {
    border-bottom: 1px solid #005dff;
  }
}

.form__priority-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form__priority-box {
  border-radius: 10px;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0px 0px 4px 0px #00000029;
  min-width: 80px;
  font-size: 0.75rem;
  flex: 1;
  cursor: pointer;
}

.urgent-box {
  &:hover {
    border-bottom: 2px solid #ff3d00;
  }
}

.urgent-box-active {
  background: #ff3d00;
  color: white;
  img {
    filter: invert(1) sepia(1) saturate(0) brightness(1000%);
  }
  &:hover {
    border-bottom: none;
  }
}

.medium-box {
  &:hover {
    border-bottom: 2px solid #ffa800;
  }
}

.medium-box-active {
  background: #ffa800;
  color: white;
  img {
    filter: invert(1) sepia(1) saturate(0) brightness(1000%);
  }
  &:hover {
    border-bottom: none;
  }
}

.low-box {
  &:hover {
    border-bottom: 2px solid #7ae229;
  }
}

.low-box-active {
  background: #7ae229;
  color: white;
  img {
    filter: invert(1) sepia(1) saturate(0) brightness(1000%);
  }
  &:hover {
    border-bottom: none;
  }
}

.form__assigned-container {
  border-bottom: 1px solid #d1d1d1;
  position: relative;
  &:hover {
    border-bottom: 1px solid #4589ff;
  }
}

.form__assigned__closed {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.form__assigned__contacts-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.form__assigned__search-contact-container {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #005dff;

  input {
    width: 100%;
    outline: 0;
    border: 0;
  }
}

.form__assigned__contacts-wrapper {
  max-height: 288px;
  overflow-y: auto;
}

.form__assigned__contact-box {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 7px 16px;
  &:hover {
    background-color: #d2e3ff;
  }
}

.form__assigned__contact-box__item1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__assigned__contact-box__initials {
  font-size: 0.75rem;
  vertical-align: middle;
  background-color: #00bee8;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  padding: 12px;
}

.form__category-container {
  position: relative;
}

.form__category__closed {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.form__assigned__category-container {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #d1d1d1;
  background: #fff;
}

.form__category__open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.form__assigned__category-wrapper {
  max-height: 288px;
  overflow-y: auto;
}

.form__assigned__category {
  display: block;
  padding: 12px 16px;
  border-radius: 10px;
  &:hover {
    background-color: #005dff;
    color: white;
  }
}

.form__subtasks__closed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 16px;
}
.form__subtasks__closed-input {
  top: 0;
  left: 0;
  border: none;
  width: calc(100% - 3ch);
}
.form__subtasks__closed-icons-wrapper {
  img {
    display: block;
    padding: 5px;
  }
}

.form__subtasks__list-container {
  list-style-position: inside;
  max-height: 100px;
  overflow-y: auto;
  position: relative;
}

.form__subtasks__list-item {
  margin-bottom: 8px;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 10px;

  img {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
  }
}

.form__subtasks__list-item__icon-container {
  float: right;
  display: flex;
  align-items: center;
  gap: 4px;
}

.form__subtasks__list-item__divider {
  display: inline-block;
  height: 24px;
  width: 1px;
  background-color: #a8a8a8;
}

//  xs
@media (min-width: 475px) {
  .form__priority-container {
    gap: 16px;
  }

  .form__priority-box {
    padding: 18px 10px;
    gap: 10px;
    font-size: 1rem;
  }
}

//  sm
//  @media (min-width: 640px) { }

//  md
//  @media (min-width: 768px) {}

//  lg
//  @media (min-width: 1024px) {}

//  xl
//  @media (min-width: 1280px) {}

//  2xl
//  @media (min-width: 1536px) {}
