:root {
  --primary-color: #4589ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-family: 'Open Sans';
  
}

html, body{
  overflow: hidden;
  height: 100dvh;
}

button{
  background: none;
   color: inherit;
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   outline: inherit;
}

.btn__primary{
  border-radius: 8px;
  background-color: #4589FF;
  border: 1px solid #4589FF;
  padding: 12px 16px;
  gap: 10px;
  font-size: 1.1875rem;
  line-height: 120%;
  color: #FFF;
  transition: all 0.1s ease-in-out;

  &:hover{
    background-color: #005DFF;
    border-color: #005DFF;
    box-shadow: 0px 4px 8px 0px #00000033;
  }
}

.btn__secondary{
  border-radius: 8px;
  border: 1px solid #42526E;
  padding: 12px 16px;
  background-color: #fff;
  color: #42526E;
  font-size: 1.1875rem;
  line-height: 120%;
  transition: all 0.1s ease-in-out;

  &:hover {
    border-color: #4589FF; 
    box-shadow: 0px 4px 8px 0px #00000033;
    color: #4589FF;
  }
}

//  xs
// @media (min-width: 475px) {}

//  sm
//  @media (min-width: 640px) { }

//  md
//  @media (min-width: 768px) {}

//  lg
 @media (min-width: 1024px) {
  .btn__primary, .btn__secondary{
    font-size: 1.4375rem;
    border-width: 2px;
    
  }

  .btn__primary{
    &:active{
      background-color: #FFF;
      color:#4589FF;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 4px 8px 0px #00000033;
    }
  }

  .btn__secondary{
    &:active{
      border: 1px solid #005DFF;
      box-shadow: 0px 4px 8px 0px #00000033;
    }
  }
 }

//  xl
//  @media (min-width: 1280px) {}

//  2xl
//  @media (min-width: 1536px) {}